In [11]:
import pandas as pd

In [13]:
data = [1, 2, 3, 4]
obj = pd.Series(data, index=["a", "b", "c", "d"])
obj

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
obj2 = pd.DataFrame(data = [1, 2, 3, 4], index = ['d', 'c', 'b', 'a'])
obj2

   0
d  1
c  2
b  3
a  4

In [18]:
obj3 = pd.DataFrame(data = {"이름":["철수", "영희", "민수", "지영"], "나이":[25, 30, 22, 28], "성별":["남자", "여자", "남자", "여자"]})
obj3

   이름  나이  성별
0  철수  25  남자
1  영희  30  여자
2  민수  22  남자
3  지영  28  여자

In [55]:
df = pd.DataFrame(data = { "col1":[1,2,3], "col2":[4,5,6]})
df.apply(lambda row: row["col1"]+row["col2"], axis="columns")

0    5
1    7
2    9
dtype: int64

In [29]:
df1 = pd.DataFrame(data={"col1":['a','b','c'], "col2":[1,2,3]})
df2 = pd.DataFrame(data={"col3":['a','b','c'], "col4":[10,20,30]})
df3 = pd.merge(df1, df2, how="outer")

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [34]:
df4 = pd.DataFrame(data={"name":["철수", "영희", "민수", "지영"], "score":[75, 88, 95, 68]})
df5 = df4[df4["score"]>=80]
df5

  name  score
1   영희     88
2   민수     95

In [36]:
d = pd.DataFrame(data={"name":["철수","영희","민수"], "score":[75,88,92]})
d1 = pd.DataFrame(data={"name":["영희","철수","지영","다현"], "score":[90,80,95,85]})
d2 = pd.merge(d, d1, on="name")
d2

  name  score_x  score_y
0   철수       75       80
1   영희       88       90

In [40]:
dp1 = pd.DataFrame(data={"names":["철수","영희","민수"], "score":[75,88,92]})
dp2 = pd.DataFrame(data={"names":["지영","다현"],"score":[68,95]})
dp3 = pd.concat([dp1, dp2], axis=0)
dp3

  names  score
0    철수     75
1    영희     88
2    민수     92
0    지영     68
1    다현     95

In [41]:
left=pd.DataFrame(data={"key":["K0","K1","K2"],"A":["A0","A1","A2"]})
right = pd.DataFrame(data={"key":["K0","K1","K2"],"B":["B0","B1","B2"]})
result = pd.merge(left, right, on="key")
result

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [53]:
df=pd.DataFrame({"학생":["철수","영희","민수"],"성적":[80,75,90]})
new_student_score = pd.Series({"지영":85})
result = pd.concat([df,new_student_score], axis=0)
result

     학생    성적     0
0    철수  80.0   NaN
1    영희  75.0   NaN
2    민수  90.0   NaN
지영  NaN   NaN  85.0

In [54]:
df1 = pd.DataFrame(data={'A':[1,2,3], 'B':[4,5,6]})
s = pd.Series(data={13,14,15},index={"E"})

ValueError: Length of values (3) does not match length of index (1)

In [58]:
df = pd.DataFrame(data={"이름":["철수","영희","민수"],"국어":[90,80,85],"영어":[85,95,70],"수학":[75,80,90]})
average = df.apply(lambda x: x.mean())
average

TypeError: Could not convert string '철수영희민수' to numeric

In [71]:
df1=pd.DataFrame(data={"col1":['a','b','c'],"col2":[1,2,3]})
df2=pd.DataFrame(data={"col3":['a','b','f'],"col4":[10,20,30]})
df3 = pd.merge(df1, df2, left_on='col1', right_on='col3', how='outer')
df3

  col1  col2 col3  col4
0    a   1.0    a  10.0
1    b   2.0    b  20.0
2    c   3.0  NaN   NaN
3  NaN   NaN    f  30.0

In [69]:
import pandas as pd

# 데이터프레임 생성
df1 = pd.DataFrame(data={"col1":['a','b','c'], "col2":[1,2,3]})
df2 = pd.DataFrame(data={"col3":['a','b','f'], "col4":[10,20,30]})

# df1과 df2를 'col1' 열을 기준으로 외부 조인
df3 = pd.merge(df1, df2, left_on='col1', right_on='col3', how='outer')

# 결과 출력
df3

  col1  col2 col3  col4
0    a   1.0    a  10.0
1    b   2.0    b  20.0
2    c   3.0  NaN   NaN
3  NaN   NaN    f  30.0